@import '../variables';

.categories {
  ul {
    display: flex;
    li {
      background-color: #f6f6f6;
      padding: 13px 30px;
      border-radius: 10px;
      margin-right: 10px;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: darken(#f6f6f6, 10%);
      }

      &:active {
        background-color: darken(#f6f6f6, 20%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
        font-weight: 700;
      }
    }
  }
}
