$black: #232323;
$background: linear-gradient(0deg, rgba(255, 223, 140, 1) 0%, rgba(253, 187, 45, 1) 100%) fixed;
$gray-line: #f6f6f6;
$orange: #fd7b03;
$gray: #7b7b7b;

$container-width: 90%;

$duration: 0.15s;
